@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';

/* 
li{
    list-style: none;
    padding: 10px;
    margin: 10px 0px;
    background: #0fa30c;
    color: white;
    font-weight: bold;
} */